.main {
  padding: 12px;
}

.heading {
  font-weight: bold;
}

.contents {
  color: #ccc;
}

.table {
  width: 100%;
  text-align: left;
  border: 5px solid;
  display: table;
}

.textbox {
  padding: 20px;
}
